@font-face {

    font-family:'Lovely';

    src:url('LOVELY.otf') format('opentype');

    font-weight:normal;

}





*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}



body{

    background:black;

    overflow:hidden;

}





/* POPUP */


#popup{

    position:fixed;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(0,0,0,.5);

    backdrop-filter:blur(10px);

    z-index:100;

}





.card{

    width:95%;

    max-width:800px;

    padding:80px 70px;

    text-align:center;

    color:white;

    border-radius:40px;

    background:rgba(255,255,255,.12);

    border:1px solid rgba(255,255,255,.3);

    box-shadow:

    0 30px 80px rgba(0,0,0,.6);

}





.card h1{

    font-family:'Lovely', cursive;

    font-size:8rem;

    font-weight:normal;

    line-height:1.2;

    text-align:center;

}





.heart{

    display:inline-block;

    margin-left:12px;

    animation:pulse 1.8s infinite;

}





@keyframes pulse{


0%,100%{

    transform:scale(1);

}



50%{

    transform:scale(1.15);

}


}





.card p{

    margin:25px 0;

    font-family:Georgia,serif;

    font-size:2rem;

}





.line{


    width:150px;


    height:2px;


    background:white;


    margin:20px auto;


    box-shadow:0 0 10px white;


}





button{

    padding:20px 50px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:1.3rem;

    transition:.3s;

}



button:hover{


    transform:scale(1.05);


}







/* FOTOS */


#slideshow{


    width:100vw;


    height:100vh;


}





#photo{


    width:100%;


    height:100%;


    object-fit:cover;


    opacity:0;


    transition:opacity 1.5s;


}





.show{


    opacity:1;


}





@media(max-width:700px){


.card{

    padding:50px 30px;

}


.card h1{

    font-size:4.5rem;

}


.card p{

    font-size:1.5rem;

}


}
