#container{

    position:fixed;

    top:80px;

    width:100%;

    text-align:center;

    z-index:20;

    color:white;

    font-family:'Roboto';

    font-size:36px;

    font-weight:bold;

    text-transform:uppercase;

    text-shadow:0 0 20px black;

}



#flip{

    height:55px;

    overflow:hidden;

    display:inline-block;

    margin-left:10px;

}



#changing-text{

    padding:5px 20px;

    height:50px;

    line-height:50px;

    color:white;

    border-radius:12px;

    background:#4ec7f3;

    transition:.5s;

}



.change{

    animation:slideText .5s ease;

}



@keyframes slideText{


from{

    opacity:0;

    transform:translateY(40px);

}


to{

    opacity:1;

    transform:translateY(0);

}


}
